@model Lab2.Models.Book

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Book</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdBook)

    <div class="form-group">
        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sages, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (Model.Sages.Count > 0)
            {
                <table id="BookSages" class="table">
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    @foreach (var item in Model.Sages)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.name, "Details", "Sages", new { Id = item.IdSage }, null)</td>
                            <td>@Html.ActionLink("Remove", "RemoveSage", "Books", new { area = "Admin", SageId = item.IdSage, BookId = Model.IdBook, returnUrl = Url.Action("Edit", "Books", new { id = Model.IdBook }) }, null)</td>
                        </tr>
                    }
                </table>
            }
            @Html.ActionLink("Add Sage", "AddSage", "Books", new { area = "Admin", Id = Model.IdBook }, new { @class = "btn btn-default"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
