@model IEnumerable<Lab2.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sages)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.Raw(String.Join("; ", item.Sages.Select(x => Html.ActionLink(x.name.ToString(), "Details", "Sages", new { id = x.IdSage }, null))))<!--x.name)))-->
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBook }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBook }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBook })
        </td>
    </tr>
}

</table>
